#container {
    background-color: #F4F4F9;
    height: 620px;
    width: 1300px;

}

.heading1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: rgb(82, 80, 189);
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    line-height: 1.5;
}

fieldset {
    padding: 20px 20px 20px 20px;
    margin: auto;
    width: 400px;
    height: 380px;
    background-color: white;
    border: 1px solid #d3d3d39e;



}

legend {
    background-color: green;
    color: #F4F4F9;
    height: 20px;
    width: 90px;
    font-style: italic;
    font-size: 14px;
    border-radius: 5px;

}

input {
    width: 430px;
   border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    margin: 5px auto;
    padding: 3px;
}
#course{
    padding: 3px;
    border-radius: 5px;
}

input:focus {
    background-color: gainsboro;
}

select {
    width: 430px;

    height: 32px;
    margin: 5px auto;
}

select:focus {
    background-color: gainsboro;
    border: 1px solid black;
}

#radio {
    width: auto;
    height: auto;
}
.button{
    background-color:greenyellow;
    height: 38px;
    width:430px ;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    margin-top:  80px;
}
.button:hover{
    background-color: green;
  }
  label{
    margin-bottom: 10px;
    padding: 3px;
  }